body {
  background: rgb(12, 41, 74);

}

.App {
  display: flex;

}

.buttons2 {
  height: 50px;
  width: 120px;
  border-radius: 10px;

}

.buttons {
  left: 56%;
  top: 110%;
  height: 50px;

}

.human-background {
  background: radial-gradient(circle, rgb(85, 168, 241) 0%, rgb(153, 0, 255) 100%);
  border: 30px solid rgb(153, 0, 255);

}

.computer-background {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border: 30px solid rgba(148, 187, 233, 1);
}